services:
  - type: web
    name: tiktok-recipe-api
    runtime: docker
    region: frankfurt
    rootDir: backend
    dockerfilePath: ./Dockerfile
    envVars:
      - key: GEMINI_API_KEY
        sync: false
      - key: PORT
        value: 8000
